<%- include('partials/header.ejs') %>

  <h1 class="text-center mt-5" id="trends-heading">All Roadmaps</h1>
  
  <div class="container pt-1 mb-5 pb-5">
    <div class="row mt-2">

      <% for(let i = 0; i<roadmaps.length; i++){ %>
        <div class="col-4 text-center mb-5">
          <div class="card shadow card-media trend-parent p-0" style="width: 18rem; height: 18rem;">
            <div class="card-body py-0 my-0 d-flex flex-column justify-content-center">
              <h4 style="font-weight: 600; text-transform: uppercase;" class="trend-title text-center"><%= roadmaps[i]['title'] %>
              </h4>
              <p style="font-size: 1rem; text-align: start;" class="p-0 mt-0"><%= roadmaps[i]['tagline'] %></p>
              <a href="/roadmap?id=<%= roadmaps[i]['id'] %>">
                <button class="mt-0 trend-btn mb-3">View Roadmap</button>
              </a>
              <% if(roadmaps[i]['pickRoadmapButtonFlag']){ %>
                <a href="/pick-roadmap?id=<%= roadmaps[i]['id'] %>">
                  <button class="mt-0 btn btn-secondary w-100 pick-roadmap-btn mb-3">Pick Roadmap</button>
                </a>
              <% } %>
            </div>
          </div>
        </div>  
      <% } %>

    </div>
  </div>



<%- include('partials/footer.ejs') %>