<%- include('partials/header.ejs') %>

    <section class="mt-0 mb-5">

    <!-- For Showing Success and Info Messages -->
    <% if (messages.success_msg) { %>
        <div class="mt-3 container-fluid d-flex justify-content-center align-items-center">
          <div style="width: 28rem;" class="alert alert-success alert-dismissible fade show" role="alert">
            <%= messages.success_msg %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
    <% } %>

    <h1 class="text-center todo-heading mt-5 mb-4">Your Todo List</h1>

    <div class="body-todo" style="display: flex; justify-content: center;">
            <div class="app">

                <div id="addNew" data-bs-toggle="modal" data-bs-target="#form">
                    <span>Add New Task</span>
                    <div class="p-1">
                        <i class="fa-solid fa-plus plus-icon"></i>
                    </div>
                </div>
                <h5 class="my-3 text-center">Tasks</h5>

                <!-- todos here  -->
                <% for(let i=0; i<todos.length; i++){ %>
                    <div class="d-flex justify-content-between align-items-center p-2">
                        <div>
                            <p class="p-0 m-0">
                                <%= i+1 %>- <%= todos[i]['task'] %>
                            </p>
                        </div>
                        <div class="mx-4">
                            <a href="/delete-todo/<%= todos[i]['id'] %>">
                                <img src="images/check.png" alt="done-logo" id="done-logo">
                            </a>
                        </div>
                    </div>
                    <% } %>



                        <!-- Modal -->
                        <form action="/submit-todo" method="POST" class="modal fade" id="form" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add New Task</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Task:</p>
                                        <input class="form-control" type="text" name="todo" id="textInput">
                                        <div id="msg"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" id="add" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>

            </div>
    </div>


    </section>


<%- include('partials/footer.ejs') %>